<!--loader start-->
<div *ngIf="processing" class="loading">
   <div class="gear"></div>
</div>
<!--loader end-->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
   <div class="container-fluid">
      <div class="header-body">
         <!-- Card stats -->
         <div class="row">      
         </div>
      </div>
   </div>
</div>
<div class="container-fluid mt--7">
<div class="row">
   <div class="col">
      <div class="card shadow">
         <div class="card-header border-0">
            <div class="row align-items-center">
               <div class="col-8">
                  <h3 class="mb-0">All Students</h3>
               </div>
               <div class="col-4 text-right">
                  <button type="button" class="btn btn-sm bg-gradient-success text-white" (click)="addmodal.launchModal(); studentForm.reset();">Add Student</button>
               </div>
            </div>
         </div>
         <div class="table-responsive">
            <table class="table align-items-center table-flush">
               <thead class="thead-light">
                  <tr>
                     <th scope="col" >#</th>
                     <th scope="col" >Name</th>
                     <th scope="col" >Gender</th>
                     <th scope="col" >Grade</th>
                     <th scope="col" >Created On</th>
                     <th scope="col" >Phone</th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let studentdata of studentDataList | paginate :{id:'listing-pagination',itemsPerPage:5, currentPage:page, totalItems:totalRecords }" (click)="selectStudent(studentdata.id)" [class.active]="studentdata.id == selectedStudent" style="cursor: pointer;">
                  <td>
                     {{studentdata.id}}
                  </td>
                  <th scope="row">
                     <div class="media align-items-center">
                        <a href="javascript:void(0)" class="hide avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                        </a>
                        <div class="media-body">
                           <span class="mb-0 text-sm">{{studentdata.name}}</span>
                        </div>
                     </div>
                  </th>
                  <td>
                     {{studentdata.gender | titlecase}}
                  </td>
                  <td>
                     {{studentdata.grade_name}}
                  </td>
                  <td>
                     {{studentdata.created}}
                  </td>
                  <td>
                     {{studentdata.phone_no}}
                  </td>
                  <td class="text-right">
                     <button [ngClass]="studentdata.id == selectedStudent ? 'btn btn-sm bg-gradient-white text-success' : 'btn btn-sm bg-gradient-success text-white'" (click)="updatemodal.launchModal()"><i class="ni ni-ruler-pencil"></i></button>
                  </td>
                  <td class="text-right">
                     <button [ngClass]="studentdata.id == selectedStudent ? 'btn btn-sm bg-gradient-white text-success' : 'btn btn-sm bg-gradient-success text-white'"><i class="ni ni-scissors"></i></button>
                  </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="card-footer py-4">
            <pagination-controls id="listing-pagination" maxSize="5" (pageChange)="page=$event">
            </pagination-controls>
         </div>
      </div>
   </div>
   <div class="col" *ngIf="selectedStudent!=-1">
    <div class="card shadow">
       <div class="card-header border-0  pb-0">
          <div class="row align-items-center">
             <div class="col-8 pb-0">
                <h3 class="p-2 ml-4 mb-0 pb-0">Student - {{studentData.first_name}}</h3>
             </div>
             <div class="col-4 text-right">
                <button type="button" class="btn btn-sm bg-gradient-success text-white" (click)="updatemodal.launchModal()">Edit</button>
             </div>
          </div>
       </div>
       <div class="card-body">
          <div class="d-flex justify-content-between info-card info-card-first">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">Username</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.username}}</p>
             </div>
          </div>
          <div class="d-flex justify-content-between info-card">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">First Name</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.first_name}}</p>
             </div>
          </div>
          <div class="d-flex justify-content-between info-card">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">Last Name</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.last_name}}</p>
             </div>
          </div>
          <div class="d-flex justify-content-between info-card">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">Student Email</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.email}}</p>
             </div>
          </div>
          <div class="d-flex justify-content-between info-card">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">Present Address</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.address}}</p>
             </div>
          </div>
          <div class="d-flex justify-content-between info-card">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">Gender</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.gender}}</p>
             </div>
          </div>
          <div class="d-flex justify-content-between info-card">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">Contact No.</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.phone_no}}</p>
             </div>
          </div>
          <div class="d-flex justify-content-between info-card ">
             <div class="p-2 ml-4 mr-auto">
                <p class="card-text text-sm text-400">Added By</p>
             </div>
             <div class="p-2 mr-4">
                <p class="card-text text-sm">{{studentData.added_by}}</p>
             </div>
          </div>
       </div>
       <div class="card-footer py-4" style="display:none">
       </div>
    </div>
 </div>
</div>

<app-incampus-modal #addmodal modalId='New Student' [formGroup]="studentForm" (onFormSubmit)="addStudent($event)">
</app-incampus-modal>
<app-incampus-modal #updatemodal modalId='Update Student' [formGroup]="studentForm" (onFormSubmit)="updateStudent($event)">
</app-incampus-modal>
<!-- <app-incampus-modal #mymodal modalId='New Student'></app-incampus-modal> -->