<!--loader start-->
<div *ngIf="processing" class="loading">
  <div class="gear"></div>
</div>

<!--loader end-->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">      
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">   
      <div class="row">
          <div class="col padding-bottom">
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">All Exams</h3>
                  </div>
                  <div class="col-4 text-right">
                    <button type="button" class="btn btn-sm bg-gradient-success text-white" (click)="mymodal.launchModal()">Add Exam</button>
                  </div>
                </div>                          
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" >#</th>
                      <th scope="col" >Name</th>
                      <th scope="col" >Description</th>
                      <th scope="col" >Grade</th>
                      <th scope="col" >Status</th>
                      <th scope="col">Created On</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let examdata of examDataList | paginate :{id:'listing-pagination',itemsPerPage:5, currentPage:page, totalItems:totalExamRecords }" style="cursor: pointer;" [class.active]="examdata.id == examSelected" (click)="selectExamRow(examdata.id)">
                      <td>
                        {{examdata.id}}
                      </td>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="javascript:void(0)" class="hide avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                          </a>
                          <div class="media-body">
                            <span class="mb-0 text-sm">{{examdata.name}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                          {{examdata.description | titlecase}}
                      </td>
                      <td>
                          {{examdata.grade_name}}
                      </td>
                      <td>
                          {{examdata.status}}
                      </td>
                      <td>
                          {{examdata.created}}
                      </td>
                      <td class="text-right">
                        <button [ngClass]="examdata.id == examSelected ? 'btn btn-sm bg-gradient-white text-success' : 'btn btn-sm bg-gradient-success text-white'"><i class="ni ni-glasses-2"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
                <pagination-controls id="listing-pagination" maxSize="5" (pageChange)="page=$event">
                </pagination-controls>
              </div>
            </div>
          </div>

          <div *ngIf="examScheduleDataList.length>0 && examSelected!=-1" class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Exam Schedules</h3>
                  </div>
                  <div class="col-4 text-right">
                    <button type="button" class="btn btn-sm bg-gradient-success text-white" (click)="mymodal.launchModal()">Add Exam Schedule</button>
                  </div>
                </div>                          
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" >Exam Date</th>
                      <th scope="col" >Start Time</th>
                      <th scope="col" >End Time</th>
                      <th scope="col" >Marks</th>
                      <th scope="col" >Classroom</th>
                      <th scope="col">Subject</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let examScheduledata of examScheduleDataList | paginate :{id:'listing-pagination',itemsPerPage:5, currentPage:page, totalItems:totalExamScheduleRecords }">
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="javascript:void(0)" class="hide avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                          </a>
                          <div class="media-body">
                            <span class="mb-0 text-sm">{{examScheduledata.exam_date}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                          {{examScheduledata.start_time }}
                      </td>
                      <td>
                          {{examScheduledata.end_time }}
                      </td>
                      <td>
                          {{examScheduledata.max_marks}}
                      </td>
                      <td>
                        {{examScheduledata.classroom_name}}
                      </td>
                      <td>
                        {{examScheduledata.subject_name}}
                      </td>
                      <td class="text-right">
                        <button class="btn btn-sm bg-gradient-success text-white"><i class="ni ni-glasses-2"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
                <pagination-controls id="listing-pagination" maxSize="5" (pageChange)="page=$event">
                </pagination-controls>
              </div>
            </div>
          </div>

      </div>
</div>

<app-incampus-modal #mymodal modalId='addmyclassroom'>
</app-incampus-modal>    