<!--loader start-->
<div *ngIf="processing" class="loading">
  <div class="gear"></div>
</div>

<!--loader end-->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">      
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">   
      <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col-5">
                    <h3 class="mb-0">Timetable for {{selectedGrade.name}}</h3>
                  </div>
                  <div class="col-4 text-left">

                      <div class="" id="divGender">
                         <div class="col-xs-4" id="divGender1">
                            <select name="grade" class="form-control" id="grade" (change)="onGradeSelection($event)" >
                               <option value="-1">Select Grade</option>
                               <option *ngFor="let grade of allGradesDataList" [value]="grade.id" >{{grade.name}}</option>
                            </select>
                         </div>
                      </div>

                    
                  </div>
                  <div class="col-3 text-right">
                    <button type="button" class="btn btn-sm bg-gradient-success text-white" (click)="addmodal.launchModal()">Add Timetable</button>
                  </div>
                </div>                          
              </div>

              <div class="box-body table-responsive" *ngIf="selectedGrade.id != -1">
                <table id="example1" class="table table-bordered table-striped">
                   <thead class="bg-gradient-success text-white">
                      <tr>
                         <th class="col-md-1">Time</th>
                         <th class="col-md-1">Monday</th>
                         <th class="col-md-1">Tuesday</th>
                         <th class="col-md-1">Wednesday</th>
                         <th class="col-md-1">Thursday</th>
                         <th class="col-md-1">Friday</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let schedule of all_schedule_times" id="i">
                         <th class="bg-gradient-success text-white">
                            <span id="spanSTime_42" data-id="7.00">{{schedule.start_time}}</span><br>
                            <span id="spanSTime_42" class="text-center" data-id="7.00">to</span><br>
                            <span id="spanETime_42" data-id="8.00">{{schedule.end_time}}</span>
                         </th>
                         <td *ngFor="let timetable of getScheduleTimeTable(schedule.start_time)">
                            <span class="p-timetable">{{timetable.subject_name}}</span><br>
                            <span class="p-timetable">{{timetable.teacher_name}}</span><br>
                            <span class="p-timetable">{{timetable.classroom_name}}</span>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
              
            </div>
          </div>
</div>

<app-incampus-modal #addmodal modalId='New Timetable' [formGroup]="timetableForm" (onFormSubmit)="addDailyTimetable($event)">
</app-incampus-modal>
